<!DOCTYPE html>
<!-- 
    Author and (c) Conrad Beckert conrad@kryptonerd.de
    Licence: GNU GENERAL PUBLIC LICENSE V3
-->
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Token Browser</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style type="text/css">
		.h-divider {
			border-top: 1px solid gray;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.tokenRow {
			
		}
	</style> 
</head>
 <body>
  <div class="jumbotron text-center">
   <h1>SimpleUnique</h1>
   <p>My erc-721 Token</p>
</div>

<div class="container">
	<div class='form-group row'>
		<label class='col-sm-2 col-form-label' for="contract">Token Name and Symbol</label>
		<div class='col-sm-9'><input class='form-control' id='contract'/></div>
	</div>

	<div class='form-group row'>
		<label for="acc" class='col-sm-2 col-form-label'>Account</label>
		<div class='col-sm-9'>
			<select class='form-control' id='acc'></select>
		</div>
	</div>

	<div class='form-group row'>
		<div class='col-sm-1'><label>TokenId</label></div> 
		<div class='col-sm-7'><label>Metadata</label></div>
		<div class='col-sm-4'><label>Send</label></div>
	</div>
	<div class="h-divider"></div>
  	<div id="tokenlist">
		<!-- list of my tokens -->
	</div>
	<div class="h-divider"></div>
	<div class='form-group row'>
		<div class='col-sm-1'><input class='form-control' id='fetchTokenId' onchange="App.metaDataUi()" align='right'/></div> 
		<div class='col-sm-7'><p id="fetchTokenMeta">Enter tokenId</p></div>
		<div class='col-sm-4'>
			<input id='fetchFrom'/>
			<button class='btn btn-primary' id='fetchBtn' onclick='App.fetchToken()'>Fetch</button>
		</div>
	</div>
</div> 


    <!-- jQuery (required for Bootstrap JavaScript-Plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap  -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js2/web3.min.js"></script>
    <script src="js2/truffle-contract.js"></script>

	<!-- jQuery  -->
<script>
$(document).ready( () => {
	App.init();
});



App = {
	web3provider: null,
	contracts: {},

	init: async function() {
		return await App.initWeb3();
	},

	initWeb3: async function() {
		if(window.ethereum) {
			App.web3Provider = window.ethereum;
			try {
				window.ethereum.enable();
				console.log("Enable Metamask");
			} 
			catch(error) {
				console.error(error);
			}
		}
	    // Legacy dapp browsers...
	    else if (window.web3) {
	        App.web3Provider = window.web3.currentProvider;
  	    }
	    // If no injected web3 instance is detected, fall back to Ganache
	    else {
	  	    App.web3Provider = new Web3.providers.HttpProvider('http://localhost:7545');
	    }
		web3 = new Web3(App.web3Provider);

		// --- Metamask accounts into user interface ---
		web3.eth.getAccounts(function(error, accounts) {
			console.log(accounts[0]);
			App.account = accounts[0];
			accounts.map( (entry) => {
				$('#acc').append('<option>' + entry + '</option>');
			});
		});


		return await App.initContract();
	},

	initContract: async function() {
		
		SimpleUniqueArtifact = await $.getJSON('/contract/SimpleUnique.json');
		App.contracts.SimpleUnique = TruffleContract(SimpleUniqueArtifact);
		App.contracts.SimpleUnique.setProvider(App.web3Provider);
		simpleUniqueInstance = await App.contracts.SimpleUnique.deployed();
		
		// --- listen to Transfer Event ---
		simpleUniqueInstance.Transfer((err,evt) => {
			if(err) { console.log("Transfer Event Fails " + err); }
			else if(evt.args._from == App.account || evt.args._to == App.account) {
				App.displayUI();
			}
			var evtJSON = JSON.stringify(evt);
			console.log(evtJSON);
			console.log("Transfer Event von:" + evt.args._from + " nach: " + evt.args._to + " Token: " + evt.args._tokenId ); 
		});	
		return await App.displayUI();
	},

	// -- display --	
	displayUI: async function() {
		tokenName = await simpleUniqueInstance.name.call();
		tokenSymbol = await simpleUniqueInstance.symbol.call();
		$('#contract').attr('value',tokenSymbol);
		$("#tokenlist").empty();
		idx = 0;
		do {
			tokenId = await simpleUniqueInstance.tokenOfOwnerByIndex.call(App.account,idx); 
			metaData = await simpleUniqueInstance.tokenMetadata(tokenId);
			if(tokenId > 0 ) {
				console.log(tokenId + "  " + metaData);
				$("#tokenlist").append(	"<div class='form-group row'>" +
										"<div class='col-sm-1' align='right'>" + tokenId + "</div>" +
										"<div class='col-sm-7'>" + metaData + "</div>" +
										"<div class='col-sm-4'>" + App.showSendBox(tokenId)+ "</div>" +
										"</div>"
									  );
			}
			idx++;
		} while (tokenId != 0)
		console.log("OK");
		return;
	},

	// --- control elements for this token ---
	showSendBox: function(tokenId) {
		sendBox = "<input id=\'sendTo_"+tokenId+"\'/> " 
			    + "<button class=\'btn btn-success\' id=\'sendBtn_"+tokenId+"\' onclick=\'App.sendToken("+ tokenId+ ")\'>Send</button> "
			    + "<button class=\'btn btn-primary\' id=\'approveBtn_"+tokenId+"\' onclick=\'App.approveToken("+ tokenId+ ")\'>Approve</button>";
		return sendBox;
	},

	// --- get and print meta data for tokenId ---
	metaDataUi: async function() {
		tokenId = $("#fetchTokenId").val();
		console.log("tokenId:" + tokenId);
		metaData = await simpleUniqueInstance.tokenMetadata(tokenId);
		console.log("MetaData:" + metaData);
		$("#fetchTokenMeta").text( metaData );
	},


	sendToken: async function(tokenId) {
		var toAddr = document.getElementById("sendTo_"+tokenId).value;
		console.log('send token ' + tokenId + " to " + toAddr);
		await simpleUniqueInstance.transfer(toAddr,tokenId);
	},

	approveToken: async function(tokenId) {
		var toAddr = document.getElementById("sendTo_"+tokenId).value;
		console.log('approve token ' + tokenId + " for fetch from " + toAddr);
		await simpleUniqueInstance.approve(toAddr,tokenId);
	},

	fetchToken: async function() {
		var tokenId = document.getElementById("fetchTokenId").value;
		console.log("fetch token " + tokenId);
		await simpleUniqueInstance.takeOwnership(tokenId);
	}
};



</script>
  </body>
</html>
